<div [style.display]="display ? 'block' : 'none'">
  <header class="default-header" style="background-color: black">
    <nav class="navbar navbar-expand-lg  navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../assets/img/logo.png" style="height: 20px;" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><a href="/history">Lịch sử đặt hàng</a></li>
            <li><a (click)="logout()" style="color: white; cursor: pointer">Logout</a></li>
            <li>

            </li>
            <li>
              <a style="color: white">{{user.name}}</a>
              <img class="card-img-top image" [src]="user.image" alt="Card image cap"
                   style="width: 28px; height: 28px; border-radius: 50%;">
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div style="padding-top: 100px; text-align: center">
    <h4>In Sách</h4>
    <div>Giá tiền: {{price}} VNĐ / (1 trang giấy)</div>
    <input type="file" name="file" id="file" class="inputfile" (change)="chooseFile($event)" [(ngModel)]="file"/>
    <label for="file" style="padding: 7px;">
      <img src="../../assets/img/icons8-upload-26.png" alt="" style="width: 20px;">
      Choose files
    </label>
  </div>


  <div class="row">
    <div class="col-sm-6" style="padding-left: 5%;padding-top: 1%; padding-bottom: 1%;">

      <form (submit)="onSubmit(formFile)" #formFile="ngForm">
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Tên File:</div>
          <div class="col-sm-8"><input type="text" name="name" class="form-control" placeholder="Tên file đã chọn" disabled [(ngModel)]="name"></div>
        </div>
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Số trang: {{page}}</div>
          <div class="col-sm-8"><input type="text" name="page" class="form-control" placeholder="Số trang của file đã chọn" disabled [(ngModel)]="page"></div>
        </div>
        <!--<input type="file" (change)="logEvent($event)" [(ngModel)]="file" name="file">-->
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Số bản in:</div>
          <div class="col-sm-8"><input type="numberOfPrint" class="form-control" placeholder="numberOfPrint"
                                       aria-label="numberOfPrint" aria-describedby="basic-addon1"
                                       [(ngModel)]="numberOfPrint" name="numberOfPrint"></div>
        </div>
        <!--<div *ngIf="percentage | async as pct">-->
        <!--<span>-->
          <!--<progress class="progress is-info"-->
                    <!--[value]="pct"-->
                    <!--max="100">-->
        <!--</progress>-->
        <!--</span>-->
        <!--<span>-->
          <!--{{ pct | number }}%-->
        <!--</span>-->
        <!--</div>-->
        <!--<div *ngIf="snapshot | async as snap">-->
          <!--<div *ngIf="downloadURL | async as url">-->
            <!--<div>link: {{url | slice:0:50}}...</div>-->
          <!--</div>-->
        <!--</div>-->
        <div>
          <h4 style="margin-bottom: 1%; ">Thông Tin Giao Hàng:</h4>

          <div class="row two">
            <div class="col-sm-4">Họ Tên</div>
            <div class="col-sm-8"><input type="customerName" class="form-control" placeholder="Nhập Họ và Tên"
                                         aria-label="customerName" aria-describedby="basic-addon1" [(ngModel)]="customerName"
                                         name="customerName"></div>
          </div>
          <div class="row two">
            <div class="col-sm-4">Số Điện Thoại</div>
            <div class="col-sm-8"><input type="numberPhone" class="form-control" placeholder="Nhập số điện thoại"
                                         aria-label="numberPhone" aria-describedby="basic-addon1" [(ngModel)]="numberPhone"
                                         name="numberPhone"></div>
          </div>
          <div class="row two">
            <div class="col-sm-4">Địa Chỉ Giao Hàng</div>
            <div class="col-sm-8"><input type="address" class="form-control" placeholder="Nhập địa chỉ giao hàng"
                                         aria-label="address" aria-describedby="basic-addon1" [(ngModel)]="address"
                                         name="address"></div>
          </div>
          <div>
            <button class="btn btn-success" (click)="updateCustomerAddress()">Cập Nhật</button>
          </div>
        </div>
        <div>
          <div class="three">
            <div>
              Tổng Tiền:
              <span *ngIf="page!==undefined">{{page}} x {{numberOfPrint}} x {{price}} =
              {{page*price*numberOfPrint | number}} VNĐ
              </span>
            </div>
          </div>
          <div class="three"><div>Dự kiến giao hàng trong: 1 Ngày</div></div>
          <div class="three text-center">
            <button class="btn btn-danger " style="text-align: center;" (click)="orderPrint()">Đặt Hàng</button>
          </div>
        </div>
        <!--<button class="btn btn-success" (click)="logNumberOfPrint()">Agree</button>-->
      </form>

    </div>

    <div class="col-sm-6">
      <div>Thiết kế ảnh bìa</div>
      <button (click)="designCover()">Thiet ke</button>
      <img src={{imageData}} alt="">

      <div *ngIf="snapshotCover | async as snap">
        <div *ngIf="downloadURLCover | async as url">
          <img [src]="url" style="max-width: 300px"><br>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="tui-image-editor-container"></div>


<footer class="footer-area section-gap" style="padding: 400px 0px 120px;">
  <div class="container">
    <div class="row" >
      <h3 style="color: white; ">
        Một người không đọc sách chẳng hơn gì kẻ không biết đọc.
        <br>
        <br>
        (A person who won’t read has no advantage over one who can’t read.)
        <br>
        <br>
        Mark Twain
      </h3>
    </div>
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-8 col-md-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa ti-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/PhThTu" target="_blank">PTT</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa ti-facebook"></i></a>
        <a href="#"><i class="fa ti-google"></i></a>
        <a href="#"><i class="fa ti-dribbble"></i></a>
        <a href="#"><i class="fa ti-dropbox"></i></a>
      </div>
    </div>
  </div>
</footer>
