
<header class="default-header" style="background-color: black">
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../../assets/img/logo.png" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="courses.html">Courses</a></li>
          <!-- Dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="elements.html">Elements</a>
              <a class="dropdown-item" href="course-details.html">Course Details</a>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Blog
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="blog-home.html">Blog Home</a>
              <a class="dropdown-item" href="blog-single.html">Blog Details</a>
            </div>
          </li>
          <li><a (click)="logout()" style="color: white; cursor: pointer">Logout</a></li>
          <li>
            <!--<button class="search">-->
              <!--<span class="lnr lnr-magnifier" id="search"></span>-->
            <!--</button>-->

          </li>
          <li>
            <a style="color: white">{{user.name}}</a>
            <img class="card-img-top image" [src]="user.image" alt="Card image cap" style="width: 28px; height: 28px; border-radius: 50%;">
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div style="padding-top: 100px">
  <h4>In Sách</h4>
  <div>Giá tiền: {{price}} VNĐ / (1 trang giấy)</div>
  <input type="file" name="file" id="file" class="inputfile" (change)="chooseFile($event)" [(ngModel)]="file"/>
  <label for="file" style="padding: 7px;">
    <img src="../../assets/img/icons8-upload-26.png" alt="" style="width: 20px;">
    Choose files
  </label>
</div>

<div class="row">
  <div class="col-sm-6">

    <form (submit)="onSubmit(formFile)" #formFile="ngForm">
      <div>Tên: {{name}}</div>
      <div>Số trang: {{page}}</div>
      <!--<input type="file" (change)="logEvent($event)" [(ngModel)]="file" name="file">-->
      <div class="row">
        <div class="col-sm-2">Số bản in:</div>
        <div class="col-sm-4"><input type="numberOfPrint" class="form-control" placeholder="numberOfPrint" aria-label="numberOfPrint" aria-describedby="basic-addon1" [(ngModel)]="numberOfPrint" name="numberOfPrint"></div>
      </div>
      <div *ngIf="page!==undefined && numberOfPrint !== ''">Tiền: {{page}} x {{numberOfPrint}} x {{price}} = {{page*price*numberOfPrint | number}} VNĐ</div>
      <div *ngIf="percentage | async as pct">
        <span>
          <progress class="progress is-info"
                    [value]="pct"
                    max="100">
        </progress>
        </span>
        <span>
          {{ pct | number }}%
        </span>
      </div>
      <div *ngIf="snapshot | async as snap">
        <div *ngIf="downloadURL | async as url">
          <div>link: {{url | slice:0:50}}...</div>
        </div>
      </div>
      <button class="btn btn-outline-dark">Dark</button>
    </form>
    <button class="btn btn-outline-dark" (click)="logNumberOfPrint()">Dark</button>
  </div>
  <div class="col-sm-6">
    <div>Thiết kế ảnh bìa</div>
    <input class="file-input" type="file" (change)="startUploadCover($event.target.files)">
    <div *ngIf="percentageCover | async as pct">
        <span>
          <progress class="progress is-info"
                    [value]="pct"
                    max="100">
        </progress>
        </span>
    <span>
          {{ pct | number }}%
        </span>
  </div>

    <div *ngIf="snapshotCover | async as snap">
      <div *ngIf="downloadURLCover | async as url">
        <img [src]="url" style="max-width: 300px"><br>
      </div>
    </div>
  </div>
</div>

<div>
  <h4>Thông Tin Giao Hàng:</h4>
  <button class="btn btn-outline-dark" (click)="updateCustomerAddress()">Cập Nhật</button>
  <div class="row">
    <div class="col-sm-2">Họ Tên</div>
    <div class="col-sm-4"><input type="customerName" class="form-control" placeholder="Nhập Họ và Tên" aria-label="customerName" aria-describedby="basic-addon1" [(ngModel)]="customerName" name="customerName"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">Số Điện Thoại</div>
    <div class="col-sm-4"><input type="numberPhone" class="form-control" placeholder="Nhập số điện thoại" aria-label="numberPhone" aria-describedby="basic-addon1" [(ngModel)]="numberPhone" name="numberPhone"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">Địa Chỉ Giao Hàng</div>
    <div class="col-sm-4"><input type="address" class="form-control" placeholder="Nhập địa chỉ giao hàng" aria-label="address" aria-describedby="basic-addon1" [(ngModel)]="address" name="address"></div>
  </div>
</div>
<div>Tổng Tiền: </div>
<div>Dự kiến giao hàng trong</div>
<button class="btn btn-outline-dark">Đặt Hàng</button>
<!--<h1>{{ (customers | async)?.email }}</h1>-->
<!--<div class="dropzone"-->
     <!--dropZone-->
     <!--(hovered)="toggleHover($event)"-->
     <!--(dropped)="startUpload($event)"-->
     <!--[class.hovering]="isHovering">-->



  <!--<h3>AngularFire Drop Zone</h3>-->

  <!--<div class="file">-->
    <!--<label class="file-label">-->


      <!--<input class="file-input" type="file" (change)="startUpload($event.target.files)">-->
    <!--</label>-->
  <!--</div>-->
<!--</div>-->




