<div [style.display]="display ? 'block' : 'none'">
  <header class="default-header" style="background-color: black">
    <nav class="navbar navbar-expand-lg  navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../assets/img/logoweb.png" height="23px" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><a href="/history">Lịch sử đặt hàng</a></li>
            <li><a (click)="logout()" style="color: white; cursor: pointer">Logout</a></li>
            <li>

            </li>
            <li>
              <a style="color: white">{{user.name}}</a>
              <img class="card-img-top image" [src]="user.image" alt="Card image cap"
                   style="width: 28px; height: 28px; border-radius: 50%;">
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div style="padding-top: 110px; color: black; padding-left: 55px; text-align: center">
    <div style="font-size: x-large">In Sách</div>
    <div>Giá chỉ: {{price}} VNĐ / (1 trang giấy)</div>
    <input type="file" name="file" id="file" class="inputfile" (change)="chooseFile($event)" [(ngModel)]="file"/>
    <label for="file" style="padding: 7px;">
      <img src="../../assets/img/icons8-upload-26.png" alt="" style="width: 20px;">
      Choose files
    </label>
  </div>

  <div style="padding:10px 55px">
    <div style=" border-bottom: 2px dashed"></div>
  </div>
  <div class="row" style="color: black;">
    <div class="col-sm-6" style="padding-left: 5%;padding-top: 1%; padding-bottom: 1%;">
      <div style="margin-bottom: 1%; font-size: large">Thông Tin Tệp:</div>
      <div>
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Tên File:</div>
          <div class="col-sm-8"><input type="text" name="name" class="form-control" placeholder="Tên file đã chọn" disabled [(ngModel)]="name"></div>
        </div>
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Số trang:</div>
          <div class="col-sm-8"><input type="text" name="page" class="form-control" placeholder="Số trang của file đã chọn" disabled [(ngModel)]="page"></div>
        </div>
        <!--<input type="file" (change)="logEvent($event)" [(ngModel)]="file" name="file">-->
        <div class="row" style="margin-bottom: 1%;">
          <div class="col-sm-4">Số bản in:</div>
          <div class="col-sm-8"><input type="numberOfPrint" class="form-control" placeholder="numberOfPrint"
                                       aria-label="numberOfPrint" aria-describedby="basic-addon1"
                                       [(ngModel)]="numberOfPrint" name="numberOfPrint"></div>
        </div>
        <div>
          <div style="margin-bottom: 1%; font-size: large">Thông Tin Giao Hàng:</div>

          <div class="row two">
            <div class="col-sm-4">Họ Tên</div>
            <div class="col-sm-8"><input type="customerName" class="form-control" placeholder="Nhập Họ và Tên"
                                         aria-label="customerName" aria-describedby="basic-addon1" [(ngModel)]="customerName"
                                         name="customerName"></div>
          </div>
          <div class="row two">
            <div class="col-sm-4">Số Điện Thoại</div>
            <div class="col-sm-8"><input type="numberPhone" class="form-control" placeholder="Nhập số điện thoại"
                                         aria-label="numberPhone" aria-describedby="basic-addon1" [(ngModel)]="numberPhone"
                                         name="numberPhone"></div>
          </div>
          <div class="row two">
            <div class="col-sm-4">Địa Chỉ Giao Hàng</div>
            <div class="col-sm-8"><input type="address" class="form-control" placeholder="Nhập địa chỉ giao hàng"
                                         aria-label="address" aria-describedby="basic-addon1" [(ngModel)]="address"
                                         name="address"></div>
          </div>
          <div>
            <button class="buttonUpdate" (click)="updateCustomerAddress()">Cập Nhật</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6">
      <div style="font-size: large">Thiết kế ảnh bìa</div>
      <div style="text-align: center;"><img src={{imageData}} alt="" style="height: 350px"></div>
      <div style="text-align: center;"><button (click)="designCover()" class="buttonAction">Thiết kế</button></div>
    </div>

  </div>
  <div style="padding:0 55px">
    <div style=" border-bottom: 2px dashed"></div>
  </div>
  <div style="padding: 0 55px; color: black">
    <div class="three">
      <div style="font-size: larger">
        Tổng Tiền:
        <span *ngIf="page!==undefined">{{page}} x {{numberOfPrint}} x {{price}} =
              {{page*price*numberOfPrint | number}} VNĐ
              </span>
      </div>
    </div>
    <div class="three"><div style="font-size: larger">Dự kiến giao hàng trong: 1 Ngày</div></div>
    <div style="text-align: right; margin-top: -60px">
      <button class="buttonOrder" style="text-align: center;" (click)="orderPrint()">Đặt Hàng</button>
    </div>
  </div>
</div>
<div id="tui-image-editor-container"></div>


<footer class="footer-area section-gap" style="padding: 20px 0px 20px; background-color: black; margin-top: 100px">
  <div class="container">
    <div class="row" style="text-align: center; margin: auto; display: block; margin-top: 30px;">
      <h5 style="color: white;">
        Một cuốn sách hay trên giá sách là một người bạn dù quay lưng lại nhưng vẫn là bạn tốt.
        <br>
        <br>A good book on your shelf is a friend that turns its back on you and remains a friend.
        <br>
        <br>-* Khuyết danh *-
      </h5>
    </div>
    <div class="footer-bottom row align-items-center" style="margin-top: 30px;">
      <p class="footer-text m-0 col-lg-8 col-md-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa ti-heart" aria-hidden="false"></i> by <a href="https://www.facebook.com/PhThTu" target="_blank">PTT</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa ti-facebook"></i></a>
        <a href="#"><i class="fa ti-google"></i></a>
        <a href="#"><i class="fa ti-dribbble"></i></a>
        <a href="#"><i class="fa ti-dropbox"></i></a>
      </div>
    </div>
  </div>
</footer>
