<!--<div cdkDropList style="width: 1000px; height: 1000px" (cdkDropDropped)="dropped($event)">-->
  <!--<div class="example-box" cdkDrag (cdkDragEnded)="ended($event)">-->
    <!--Drag me around-->
  <!--</div>-->
<!--</div>-->
<button (click)="openDialog()">Open a draggable dialog</button>

<ng-template>
  <div class="example-dialog-content" cdkDrag>
    Drag the dialog around!
  </div>
  <!--<img src="../assets/img/go.png" alt="Smiley face" height="700" width="700">-->
</ng-template>
<router-outlet></router-outlet>
