
<header class="default-header">
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="../../assets/img/logo.jpg" alt="Chien va nhung nguoi ban" height="50" width="50"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a (click)="tryGoogleLogin()" style="color: white; cursor: pointer">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="home-banner-area" style="padding-bottom: 230px;">
  <div class="container">
    <div class="row justify-content-center fullscreen align-items-center">
      <div class="col-lg-5 col-md-8 home-banner-left">
        <h1 class="text-white">
          Better Print &<br> & Faster Ship
        </h1>
        <p class="mx-auto text-white  mt-20 mb-40">
          Less money, more print.
        </p>
      </div>
      <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
        <img class="img-fluid" src="../../assets/img/header-img.png" alt="" />
      </div>
    </div>
  </div>
</section>


<section class="feature-area" style="margin-top: 2%;">
  <div class="container-fluid">
    <div class="feature-inner row">
      <div class="col-lg-2 col-md-6">
        <div class="feature-item d-flex">
          <i class="ti-book"></i>
          <div class="ml-20">
            <h4>Traditional Service</h4>
            <p>
              Nhan in an, sao chep cac loai tai lieu.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="feature-item d-flex">
          <i class="ti-desktop"></i>
          <div class="ml-20">
            <h4>Online Service</h4>
            <p>
              Co the dat in truoc qua mang, thuan tien de dang.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="feature-item d-flex border-right-0">
          <i class="ti-truck"></i>
          <div class="ml-20">
            <h4>Ship Service</h4>
            <p>
              Dich vu gui tan lieu tai nha nhanh va hieu qua
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-area section-gap" style="padding: 400px 0px 120px;">
  <div class="container">
    <div class="row" >
      <h3 style="color: white;">
        Một cuốn sách hay trên giá sách là một người bạn dù quay lưng lại nhưng vẫn là bạn tốt.
        <br>
        <br>A good book on your shelf is a friend that turns its back on you and remains a friend.
        <br>
        <br>-* Khuyết danh *-
      </h3>
    </div>
    <div class="footer-bottom row align-items-center">
      <p class="footer-text m-0 col-lg-8 col-md-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa ti-heart" aria-hidden="false"></i> by <a href="https://www.facebook.com/PhThTu" target="_blank">PTT</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      <div class="col-lg-4 col-md-12 footer-social">
        <a href="#"><i class="fa ti-facebook"></i></a>
        <a href="#"><i class="fa ti-google"></i></a>
        <a href="#"><i class="fa ti-dribbble"></i></a>
        <a href="#"><i class="fa ti-dropbox"></i></a>
      </div>
    </div>
  </div>
</footer>
